{% extends '../index.html' %}


{% block content %}

<div class="row">
    <h1 class="text-center">Blog Detail</h1>
    <hr />
    <div class="col-3 text-center">
        <a href="{% url 'BlogApp:List' %}" class="btn btn-warning">All Blogs</a>
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col">
                <p class="h5">Title : {{BlogDetail.title}}</p>
                <p class="h5">Author : {{BlogDetail.author}}</p>
                <p class="h5">Content : 
                    <p class="text-muted text-align-justify">
                        {{BlogDetail.body}}

                    </p>
                
                </p>
            </div>
            <div class="col">
                <img src="{{ BlogDetail.image.url }}" height="250px" alt="Image Not Available">
                <hr />
                <p class="text-muted">Published Date : {{BlogDetail.publish_date}}</p>
                <p class="text-muted">Updated On : {{BlogDetail.update_date}}</p>
            </div>
        </div>
</div>

{% endblock content %}
