{% extends '../index.html' %}

{% block content %}

<div class="row">
    <h1 class="text-center">
        Create Blog 
        <span class="float-end">
            <a href="{% url 'BlogApp:Logout' %}" class="btn btn-danger">Logout</a>
        </span>
    </h1>
    
    <hr/>
    <div class="col-3 text-center">
        <a href="{% url 'BlogApp:List' %}" class="btn btn-warning">All Blogs</a>
    </div>
    <div class="col-6">
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in form %}
            <div class="mb-3">
              <label class="form-label">{{f.label}}</label>
              {{f}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</div>

{% endblock content %}
